<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_nikodim_mic"
        android:label="Chief of Staff"
        android:roundIcon="@drawable/ic_nikodim_mic"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChiefOfStaff">

        <activity
            android:name=".QuickCaptureActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="false"
            android:theme="@style/Theme.ChiefOfStaff.QuickCapture" />

        <activity
            android:name=".CaptureActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ChiefOfStaff.Capture" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <receiver
            android:name=".NikodimWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/nikodim_widget_info" />
        </receiver>

    </application>
</manifest>
